.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Clean Data/estimation_data.Rda
Data/Raw Data/2020 UCR POST-ELECTION CCES MODULE FIELDED.pdf
Data/Raw Data/2020 UCR PRE-ELECTION CCES MODULE FIELDED.pdf
Data/Raw Data/omnibus_s20.Rmd
Data/Raw Data/Omnibus_Study_S20.docx
Data/Raw Data/Omnibus_Study_S20_Codebook.docx
Data/Raw Data/omnibusS20_data.csv
Data/Raw Data/OS20_Instrument_FINAL.docx
Data/Raw Data/UCR_CCES_2020/CCES20_UCR_OUTPUT.DTA
Data/Raw Data/UCR_CCES_2020/CCES20_UCR_OUTPUT.sav
Data/Raw Data/UCR_CCES_2020/CCES20_UCR_OUTPUT_codebook.docx
Data/Raw Data/UCR_CCES_2020/CCES20_UCR_OUTPUT_codebook.txt
Data/Raw Data/WWU-UCR_Sample_Youth.docx
Figures/all_results.pdf
Figures/donate_plot.pdf
Figures/donate_results.pdf
Figures/results_plot.pdf
Figures/trust_plot.pdf
Figures/trust_results.pdf
Figures/vote_plot.pdf
Figures/vote_results.pdf
IRB/2020 HS 19-268, J.Merolla, M.Osorio, Amendment #JM012320 Approval.pdf
IRB/application_form_for_use_of_human_participants_final.docx
IRB/HS 18-220 Merolla and Landgrave Exempt Determination.pdf
IRB/IRB Application.docx
IRB/Project Roster.docx
IRB/project_roster_form.docx
Paper/Research Proposal/.texpadtmp/CCES Proposal.aux
Paper/Research Proposal/.texpadtmp/CCES Proposal.bbl
Paper/Research Proposal/.texpadtmp/CCES Proposal.bcf
Paper/Research Proposal/.texpadtmp/CCES Proposal.blg
Paper/Research Proposal/.texpadtmp/CCES Proposal.log
Paper/Research Proposal/.texpadtmp/CCES Proposal.run.xml
Paper/Research Proposal/.texpadtmp/CCES Proposal.synctex.gz
Paper/Research Proposal/.texpadtmp/CCES Proposal.thm
Paper/Research Proposal/.texpadtmp/Project Proposal.aux
Paper/Research Proposal/.texpadtmp/Project Proposal.bbl
Paper/Research Proposal/.texpadtmp/Project Proposal.bcf
Paper/Research Proposal/.texpadtmp/Project Proposal.blg
Paper/Research Proposal/.texpadtmp/Project Proposal.log
Paper/Research Proposal/.texpadtmp/Project Proposal.run.xml
Paper/Research Proposal/.texpadtmp/Project Proposal.synctex.gz
Paper/Research Proposal/.texpadtmp/Project Proposal.thm
Paper/Research Proposal/CCES Proposal.docx
Paper/Research Proposal/CCES Proposal.pdf
Paper/Research Proposal/CCES Proposal.tex
Paper/Research Proposal/CCES Proposal_ML.docx
Paper/Research Proposal/Project Proposal.pdf
Paper/Research Proposal/Project Proposal.tex
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.aux
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.bbl
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.bcf
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.blg
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.log
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.run.xml
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.synctex.gz
Paper/Working Paper/.texpadtmp/Voter Perceptions of Candidate Who Reject PAC Contributions.thm
Paper/Working Paper/Voter Perceptions of Candidate Who Reject PAC Contributions.pdf
Paper/Working Paper/Voter Perceptions of Candidate Who Reject PAC Contributions.tex
Project Budget.xlsx
results.html
